PresentationLayer/Connected Services/ServiceReference1/WCFLogic.DTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFLogic.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFLogic.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BaseTestLib" />
  <xs:complexType name="TeacherDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PassedTest" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BaseTestLib" minOccurs="0" name="Tests" nillable="true" type="q2:ArrayOfTest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeacherDTO" nillable="true" type="tns:TeacherDTO" />
  <xs:complexType name="ArrayOfTeacherDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TeacherDTO" nillable="true" type="tns:TeacherDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeacherDTO" nillable="true" type="tns:ArrayOfTeacherDTO" />
</xs:schema>